@using ElectroStireNT.Models
@using ElectroStireNT.HtmlHelpers
@model ListViewModel 

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

     
            @foreach (var p in Model.Prods)
            {
    <div class="well">
        <h3>
            <strong>@p.Name</strong>
            <span class="pull-right label label-primary">@p.Price.ToString("# руб")</span>
        </h3>
        <span class="lead">@p.Description</span>
    </div>
            }
<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index",
        new { page = x, category = Model.CurrentCategory }))
</div>