@model PagedList.IPagedList<ElectroStireNT.Models.ProductViewModel>
    @using PagedList.Mvc;

   
    @{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <div id="updateProducts">
        @Html.Partial("Summary")
    </div>
   
    <div class="float-right">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, category = ViewBag.category }))
    </div>
